<header>
    <p class="header-text glitch" [attr.data-text]="headerText">{{ headerText }}</p>
    <div class="theme-toggle">
        <button class="theme-button" (click)="switchTheme('black-green')">Black & Green</button>
        <button class="theme-button" (click)="switchTheme('amber-glow')">Amber Glow</button>
        <button class="theme-button" (click)="switchTheme('white-blue')">White & Blue</button>
    </div>
</header>

<div class="hacker-container">
    <p class="terminal-text">> 17 Jun, 2024</p>
    <p class="terminal-text">> Introduction...</p>
    <br>
    <p> Welcome to Devvscape. These terms and conditions outline the rules and regulations for the
        use of Devvscape's platform. By accessing this website, we assume you accept these terms and conditions. Do not
        continue to use Devvscape if you do not agree to take all of the terms and conditions stated on this page.
    </p>

    <br>
    <p class="terminal-text">> License</p>
    <p> Unless otherwise stated, Devvscape and/or its licensors own the intellectual property
        rights for all material on Devvscape. All intellectual property rights are reserved. You may access this from
        Devvscape for your own personal use subjected to restrictions set in these terms and conditions.
    </p>

    <br>
    <p class="terminal-text">> User Responsibilities</p>
    <p> As a user of Devvscape, you agree to use the platform in accordance with all applicable
        laws and regulations. You must not:
    </p>
    <ul>
        <li>Republish material from Devvscape.</li>
        <li>Sell, rent, or sub-license material from Devvscape.</li>
        <li>Reproduce, duplicate, or copy material from Devvscape.</li>
        <li>Redistribute content from Devvscape.</li>
    </ul>

    <br>
    <p class="terminal-text">> Content Liability</p>
    <p> We shall not be hold responsible for any content that appears on your platform. You agree
        to protect and defend us against all claims that is rising on your platform. No link(s) should appear on any
        platform that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or
        advocates the infringement or other violation of, any third party rights.
    </p>

    <br>
    <p class="terminal-text">> Your Privacy</p>
    <p>Please read our <b><a href="/privacy">Privacy Policy</a></b></p>
    <br>
    <p class="terminal-text">> Termination</p>
    <p class="terminal-text"> We may terminate or suspend your access to our platform immediately, without prior notice
        or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination,
        your right to use the platform will cease immediately.
    </p>

    <br>
    <p class="terminal-text">> Changes to These Terms</p>
    <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any
        time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking
        effect. What constitutes a material change will be determined at our sole discretion.
    </p>

    <br>
    <p class="terminal-text">> Contact Us</p>
    <p>If you have any questions about these Terms, please contact us at <b>silkwebhq[at]gmail.com</b></p>


</div>